/* .userground
{
    background-color: rgb(240, 255, 240);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .15);

    /* padding-bottom: 40%; */
    /* height: 30%; */
    /* text-align: center; */
/* } */ 

.cardPro2
{
    padding-bottom: 5%;
    /* padding-top: 2%; */
 padding-right: 100%;
    text-align: center;
    /* background-color: rgb(236, 236, 236); */
}

/* .bk
{
    background-color: rgb(236, 236, 236);

} */

.cardPro2 h6
{
    
    color: black;

}

span{
    color: rgb(3, 43, 82);
}

.cardNot
{
    padding-bottom: 7%;
    padding-top: 5%;
    /* text-align: center; */
    padding-right: 25%;
}

.orderhistory
{
    text-align: center;
}