.footer
{
    display: flex;
    background-color: #f8f9fa!important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
}
.footer .icons
{
    
    margin-top: 1.5%;
    margin-left: 5%;
    width: 30%;
    
}
.footer .icons .btn
{
    margin-left: 3;
    
}
.footer .icon
{
    color:#007aff !important;
    font-weight: 900;
    font-size: 30px;
    text-align: center!important;
}
.images
{
    
    /* width: 20%; */
    margin-left: 50%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    
    
    
}
/* .images img
{
    width: 50%;
} */
